@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg:#01051e;
  --c-black:#020726;
  --c-gray:#333;
  --c-primary:#a427df;
  --c-orange:#ff7d3b;
}

body {
  background-color: var(--c-bg);
}
