.searchLoading {
    background-color: rgba(255,255,255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    margin:2rem auto;
    font-family: Arial, sans-serif;
    border-radius: 2rem;
    padding: 1rem;
  }

  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loader_circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s ease-in-out infinite;
  }

  .loader_circle:before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #ffc107;
    border-color: #ffc107 transparent #ffc107 transparent;
    animation: loader 1.2s linear infinite;
  }

  .loader_text {
    color: #ffc107;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
     0% {
       transform: scale(0.8);
       opacity: 0.5;
     }
     50% {
       transform: scale(1);
       opacity: 1;
     }
     100% {
       transform: scale(0.8);
       opacity: 0.5;
     }
   }